<!DOCTYPE html>
<html ng-app="formExample">
    <head>
        <title>Feedback Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <script src="js/angular.js" ></script>
        <script src="js/formjs.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div ng-controller="formCtrl">
                <h2 class="text-center text-primary">Feedback Form</h2>
                <hr>
                <form name="userForm" class="form-horizontal well form-search">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="name" ng-model="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" ng-model="email" class="form-control" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Message" class="col-sm-2 control-label">Feedback</label>
                        <div class="col-sm-10">
                            <textarea ng-model="message" id="Message" class="form-control" rows="3" placeholder="Your Message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-click="formsubmit(userForm.$valid)"  ng-disabled="userForm.$invalid" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

                <pre ng-model="result">
                    {{result}}
                </pre>
            </div>
        </div>
    </body>
</html>
